<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title of the page -->
    <title>NodeJS Authentication</title>
    <!-- Link for Font Awesome icons -->
    <script
      src="https://kit.fontawesome.com/9c250245e3.js"
      crossorigin="anonymous"
    ></script>
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="style.css" />
    <!-- Noty CSS for notifications -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
      integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Noty JavaScript for notifications -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
      integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Link to Bootstrap CSS for styling and layout -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav
      class="navbar navbar-expand-lg"
      style="position: fixed; top: 0; z-index: 1; width: 100%"
    >
      <div class="container-fluid">
        <!-- Logo with app name -->
        <a
          class="navbar-brand"
          href="#"
          style="color: #d9a1e2; font-size: xx-large; font-family: math"
        >
          <img
            class="logo-img"
            src="https://static.vecteezy.com/system/resources/previews/020/581/022/non_2x/verified-profile-neon-glow-icon-illustration-vector.jpg"
          />
          NodeJS Authentication
        </a>

        <!-- Navbar links -->
        <div>
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0"
            style="display: flex; flex-direction: row"
          >
            <!-- Home link -->
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                style="margin-right: 16px"
                >Home</a
              >
            </li>
            <!-- Links visible if user is authenticated -->
            <% if(locals.user){ %>
            <!-- Reset page link -->
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/reset"
                style="margin-right: 16px"
                >Reset</a
              >
            </li>
            <!-- Logout link -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logout"
                >Logout</a
              >
            </li>
            <!-- Links visible if user is not authenticated -->
            <% }else{ %>
            <!-- Login page link -->
            <li class="nav-item" style="margin-right: 16px">
              <a class="nav-link active" aria-current="page" href="/login"
                >Login</a
              >
            </li>
            <!-- Register Page link -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/register"
                >Register</a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main content area -->
    <div style="margin-top: 18vh">
      <!-- Placeholder for rendering other ejs views dynamically -->
      <%-body%>
    </div>
    <!-- Flash messages using Noty -->
    <script>
       // Display success flash message
       <% if (flash.success && flash.success.length>0){%>
          new Noty({
           theme: 'relax',
           text: '<%= flash.success %>',
           type: 'success',
           layout: 'topRight',
           timeout: 1500
          }).show();
      <%}%>
      // Display error flash message
      <% if(flash.error && flash.error.length > 0){%>
          new Noty({
            theme: 'relax',
            text: '<%= flash.error %>',
            type: 'error',
            layout: 'topRight',
            timeout: 1900,
         }).show();
      <%} %>
    </script>
  </body>
</html>
