<!-- Form to handle user login -->
<form action="/login" class="signupContainer" method="post">
  <i class="fa-solid fa-users users-icon"></i>
  <!-- Email input field -->
  <div class="login-input-div">
    <!-- Icon for email -->
    <i class="fa-solid fa-envelope input-icon"></i>
    <!-- Input field to enter email -->
    <input class="input-field" type="text" name="email" placeholder="Email" />
  </div>

  <!-- Password input field -->
  <div class="login-input-div">
    <!-- Icon for password -->
    <i class="fa-solid fa-lock input-icon"></i>
    <!-- Input field to enter password -->
    <input
      class="input-field"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>

  <!-- Submit button for the login form -->
  <div class="btncontainer">
    <button class="btn" type="submit">LOGIN</button>
  </div>

  <div>
    <span class="span1">__________________</span>
    <span class="span-or">Or</span>
    <span class="span2">__________________</span>
  </div>

  <!-- Google OAuth registration/login button -->
  <div class="btncontainer">
    <div class="google-btn">
      <!-- Google logo image -->
      <img
        class="google-img"
        src="https://img.icons8.com/color/1x/google-logo.png"
        alt=""
      />
      <!-- Link to Google OAuth -->
      <a class="google-link" href="/auth/google">Login/SignUp with google</a>
    </div>
  </div>
</form>
